@media (min-width: 601px) {
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: opx;
    background-color: #fffcee;
  }

  #logo-type {
    font-family: "Pacifico", cursive;
    font-size: 32px;
    white-space: nowrap;
  }

  #logo-type-full {
    display: block;
    font-family: "Pacifico", cursive;
    font-size: 32px;
    min-width: 100%;
    text-align: center;
    height: auto;
  }

  /* nav img {
    max-height: 100px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
  } */

  nav a {
    width: 200px;
    /* margin: 0 40px 0 0; */
    margin: 0 20px 0 20px;
    color: #2d1300;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
  }

  nav a:hover {
    font-weight: bold;
    border-bottom: 5px solid #2d1300;
  }

  nav a.active-nav {
    font-weight: bold;
    border-bottom: 5px solid #2d1300;
  }

  nav span a {
    margin-right: 20px;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .nav-flex {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  #logo-type {
    font-family: "Pacifico", cursive;
    font-size: 32px;
    margin-bottom: 10px;
    display: block;
    color: #2d1300;
    text-decoration: none;
  }

  nav {
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    height: auto;
    padding: 0px 0px 15px 0px;
    background-color: #fffcee;
    text-align: center;
  }

  nav a.active-nav {
    font-weight: bold;
  }

  .nav-flex div a {
    color: #2d1300;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    white-space: nowrap;
  }
}
