body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fffcee;
  color: #2d1300;
}

.App {
  font-family: "Open Sans", sans-serif;
  background-color: #fffcee;
}

.navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fffcee;
  border-bottom: 1px solid #2d1300;
}

.logo-font {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #2d1300;
  min-width: 150px;
}

.logo-font:hover {
  color: #fdb196;
}

.spacer {
  height: 120px;
}

.max-width {
  max-width: 1150px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d1300;
}


/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Roboto', sans-serif; */
